header{
    max-width: 1400px;
    width: 100%;
}

.container{
    padding: 10px 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 236px;
}

.nav-desktop{
    margin-top: 10px;
}
.nav-desktop ul{
    display: flex;
}

.nav-desktop li,.nav-mobile li{
    list-style-type: none;
    margin: 0 10px;
}

.nav-desktop a,.nav-mobile a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #b4b4b4;
}

.nav-mobile{
    display: none;
    float: right;
    width: 28px;
    height: 28px;
    background-image: url(../../imagens/menu_2976215.png);
    background-size: 100% 100%;
    cursor: pointer;
}

.nav-mobile ul{
    z-index: 3;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    display: none;
}

.nav-mobile li{
    list-style-type: none;
    padding: 10px 0;
}

@media screen and (max-width:820px){
    .logo img{
        width: 200px;
    }

    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

    .nav-desktop li{
        list-style-type: none;
        margin: 0 5px;
    }

    .nav-desktop a{
        font-size: 13px;
    }
}