.container-trat{
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-around;
}

.title-trat{
    font-size: 25px;
    text-align: center;
    margin: 50px 0;
    color: rgb(70, 69, 69);
}


.tratamento-container{
    padding: 0 5px;
}

.tratamento-single{
    margin: 20px 0 40px 0;
    text-align: left;
    max-width: 300px;
}

.tratamento-single h2{
    color: rgb(32, 30, 30);
    font-size: 20px;
    margin-bottom: 10px;
}

.tratamento-single p{
    font-size: 15px;
}